h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    line-height: 1.2;
    margin: 0 0 .8em;
}
//variables found in _variables.scss
h1 {
    margin: 0 0 .7em;
    @include font-size(4.8);
	font-size: unquote("min(max(3.6rem, 8vw), 6rem)");
    &.section-title {
        padding: 0;
        margin:.7em auto;
    }
}
h2 {
    @include font-size(4);
    font-size: unquote("min(max(3rem, 6.5vw), 4.2rem)");
    margin: 0 0 .5em;
}
h3 {
    @include font-size(3);
    font-size: unquote("min(max(2.6rem, 5.5vw), 3.6rem)");
    margin: 0 0 .5em;
}
h4 {
    @include font-size(2.4);
    font-size: unquote("min(max(2rem, 4.5vw), 3.2rem)");
    margin: 0 0 .5em;
}
h5 {
    @include font-size(1.8);
    margin: 0 0 .5em;
}
h6 {
    margin: 0 0 .5em;
}