body,
button,
input,
select,
textarea {
	color: $brand-primary;
	font-family: $brand-font;
	@include font-size(1.6);
	letter-spacing: .03em;
	line-height: 1.4;
}

@import "headings";

@import "copy";
