button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.button {
	appearance: none;
	border:none;
	padding: 10px 30px;
	transition:.3s ease all;
	background-color:$brand-primary;
	color: #FFF;
	display: table;
	margin: 1.5em 0;

	&:hover {
		background-color:$brand-secondary;
		border: none;
		transition:.3s ease all;
		cursor:pointer;
	}
	svg {
		fill: currentColor;
	}
}
