button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.button {
	appearance: none;
	border:none;
	padding: .5em 2em;
	transition:.3s ease all;
	background-color:$accent;
	color: $white;
	display: table;
	margin: 1.5em 0;

	&:hover {
		background-color:$primary;
		border: none;
		transition:.3s ease all;
		cursor:pointer;
	}
	svg {
		fill: currentColor;
	}

	&.centered {
		margin: 1.5em auto;
	}
}
