button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.btn,
.button {
	appearance: none;
	border:none;
	padding: 10px 30px;
	transition:.3s ease all;
	background-color:$brand-primary;
	color: #FFF;
	display: table;
	margin: 30px auto;
	box-shadow: 0 0 0 2px rgba($brand-primary,1);
	border-radius: 20px;
	&:visited {
		background-color:$brand-primary;
		color: #FFF;
	}

	&:hover {
		box-shadow: 0 0 0 2px rgba($brand-primary,.5);
		background-color:rgba($brand-primary,.5);
		border: none;
		transition:.3s ease all;
		cursor:pointer;
	}

	&:focus {
		// outline: 1px solid $brand-secondary;
		outline: 2px solid transparent;
		box-shadow: 0 0 0 2px rgba($brand-primary,.3);
    outline-offset: 2px;
	}
	svg {
		fill: #FFF;
	}
}
