/**
 * Single Product
 */
.single-product {
	div.product {
		position: relative;
		> *:not(.related){
			width: 49%;
			display: inline-block;
			vertical-align: top;
			margin: 0;
			@include media("<=tablet") {
				width: 100%;
				padding: 0;
			}
		}
		.woocommerce-product-gallery {
			position: relative;

			.woocommerce-product-gallery-trigger {
				position: absolute;
				top: 1em;
				right: 1em;
				display: block;
				z-index: 99;
			}

			.flex-viewport {
				margin-bottom: 1em;
			}

			.flex-control-thumbs {
				// @include clearfix;
				display: grid;
				grid-template-columns: repeat( auto-fit, 100px);;
				column-gap: 20px;
				width: 100%;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					cursor: pointer;
					// float: left;

					img {
						opacity: .5;

						&.flex-active {
							opacity: 1;
						}
					}

					&:hover {
						img {
							opacity: 1;
						}
					}
				}
			}

			// @for $i from 2 through 5 {
			// 	&.woocommerce-product-gallery--columns-#{$i} {
			// 		.flex-control-thumbs {
			// 			li {
			// 				@include column-width($i);

			// 				&:nth-child(#{$i}n) {
			// 					margin-right: 0;
			// 				}

			// 				&:nth-child(#{$i}n+1) {
			// 					clear: both;
			// 				}
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}

.stock {
	&:empty:before {
		display: none;
	}

	&.in-stock {
		color: $primary;
		display: block;
    margin: 5vh 0 10px;
	}

	&.out-of-stock {
		color: $woocommerce-color-error;
	}
}
.single-product {
	.entry-summary {
			padding: 0 30px;
	}
	.inner {
		width: auto;
		max-width: 750px;
	}
}
.woocommerce-breadcrumb {
	@extend %allcaps;
	margin: 0px 0 8vh;
	color: $grey8;
	@include media("<=tablet") {
		margin: 30px 0;
	}
	a {
			color: $grey8;
			&:hover {
					color: $primary;
			}
	}
}
.woocommerce-variation-add-to-cart {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	// margin-top: 20px;
	button {
			margin: 0 1em;
	}
}
form.cart {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	button {
			margin: 0;
	}
	.quantity {
		margin-right: 10px;
	}
}
.woocommerce-product-gallery__image {
	img{
		margin-left: auto;
		@include media("<=tablet") {
			margin: auto;
		}
	}
}

.accordion {
	svg {
		fill: $primary;
	}
	a {
		margin-right: 1em;
	}
}