$columns: (
	1: 100%,
	2: 50%,
	3: 33.33%,
	4: 25%,
	5: 20%,
	6: 16.66%,
	7: 14.28%,
	8: 12.5%,
	9: 11.11%
);

$columns-margin: 50px;;
$spacing-unit: 50px;

//grid vars
$grid-width: 1600px;
$grid-gutter: 60px;
$grid-padding: 100px;
$grid-padding-md: 50px;
$grid-padding-sm: 20px;
$background-color: #FFF;


//colours
//common
$brand-lightgrey: lighten(#000,95%);
$brand-darkgrey: lighten(#000,20%);

//brand
$brand-primary: red;
$brand-secondary:pink;
$muted: lighten($brand-primary,20%);
$brand-placeholder-color:$brand-lightgrey;

// WooCommerce color variables
 $woocommerce__color-error: #e2401c;
 $woocommerce__color-success: #0f834d;
 $woocommerce__color-info: #3D9CD2;

//underscores styles
$brand-font: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$brand-heading: "Big Caslon","Book Antiqua","Palatino Linotype",Georgia,serif;
$brand-code: Menlo, Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;