
.container {
    max-width: $grid-width;
    margin: auto;
    padding: 0 $size-xxxlarge;
    width: 100%;


    @include media("<=laptop") {
        padding: 0 $size-medium;
    }

    @include media("<=tablet") {
        padding: 0 $size-xsmall;
    }
    &.compact {
        max-width: 80ch;
    }
}

.row {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    grid-gap: $grid-gutter;

    @include media("<=laptop") {
        grid-gap: 0;
    }
}

.content {
    max-width: 80ch;
    margin: auto;
}