.site-footer {
  padding: $grid-padding-md 0;
}

.separator {
  opacity: .5;
  color: $brand-primary;
  margin: 0 .5em;
}



.screen-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: -1;
  background-color: rgba($brand-primary,.5);
  visibility: hidden;
  opacity: 0;
  transition: .3s ease opacity;

  .search-open &,
  .menu-open &,
  .modal-open & {
    opacity: 1;
    transition: .3s ease opacity;
    visibility: visible;
    pointer-events: all;
    z-index: 99;
  }
}