a {
	color: currentColor;
	text-decoration: none;
	border-bottom: 1px solid rgba($brand-primary,.3);

	&:visited {
		color: $brand-primary;
	}
	&:hover,
	&:active {
		color: $brand-secondary;
		text-decoration: none;
	}
	&:focus {
		// outline: 2px dotted $brand-primary;
		outline: none;
		border-bottom: 1px solid rgba($brand-primary,.6);
		text-decoration: none;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}
