html {
	box-sizing: border-box;
	font-size: 16px;
	font-size: 62.5%;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background-color: $bg-color;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

blockquote,
q {
	// quotes: """";
	margin: 2em auto;
	max-width: 60ch;
	display: block;

	// &:before,
	// &:after {
	// 	content: "";
	// }
}

hr {
	background-color: $accent;
	border: 0;
	height: 1px;
	margin: 30px 0;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
	display: block;
}

.img {
	display: block;
	object-fit: cover;
}

@import "lists";
//@include scrollbars(.3em, $primary, #FFF);

//gmaps
//.acf-map {
//	width: 100%;
//	height: 400px;
//	border: 1px solid $brand-grey;
//	margin: 20px 0;
//}
//
///* fixes potential theme css conflict */
//.acf-map img {
//   max-width: inherit !important;
//}
@import "alignments";
@import "reusable";
@import "tables";
@import "icons";