// Unordered and Ordered lists
ul,
ol {
    margin: 1.5em .5em;
    ul,
    ol {
        margin-bottom: 0;
    }
}

ul {
    list-style: disc;
    li {
        margin-bottom: 1em;
    }
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
    margin-left: 0;
}

dl {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 50px;
}
dt {
    font-weight: bold;
}

// dd {
//     margin: 0 1em 1em;
// }