
.acf-block-preview {
  /*! autoprefixer grid: off */
//--------------------------------------------------------------*/
@import "variables-site/variables-site";
@import "mixins/mixins-master";
//
///*--------------------------------------------------------------
//# Normalize
//--------------------------------------------------------------*/
@import "normalize";
//
.wp-block {
  max-width: 90%
}

/*--------------------------------------------------------------
# Woocommerce
--------------------------------------------------------------*/
// @import "woocommerce";

//
///*--------------------------------------------------------------
//# Typography
//--------------------------------------------------------------*/
// @import "typography/modularscale";
@import "typography/typography";
//
///*--------------------------------------------------------------
//# Elements
//--------------------------------------------------------------*/
@import "elements/elements";
  input[type="checkbox"], input[type="radio"] {
    width: 2rem;
    height: 2rem;
    display: inline-flex;
  }
  input[type="checkbox"]:checked::before {
    height: 2.3125rem;
    width: 2.3125rem;
  }
  input[type="radio"]:checked::before {
    content: "";
    border-radius: 50%;
    width: .8em;
    height: .8em;
    margin: 0.22em;
    background-color: #3582c4;
    line-height: 1.14285714;
  }
//
///*--------------------------------------------------------------
//# Forms
//--------------------------------------------------------------*/
  .container {
    padding: 0;
  }
  @import "forms/forms";
//
///*--------------------------------------------------------------
//# Navigation
//--------------------------------------------------------------*/
// @import "navigation/navigation";
// @import "navigation/mobile/hamburgers";
//
///*--------------------------------------------------------------
//# Layout
//--------------------------------------------------------------*/
@import "layout/layout";
//
///*--------------------------------------------------------------
//# Accessibility
//--------------------------------------------------------------*/
@import "accessibility";

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
@import "media/media";

/*--------------------------------------------------------------
# Browser Hacks
--------------------------------------------------------------*/
//
//@import "browsers/firefox";
//@import "browsers/safari";
@import "browsers/ie";
//@import "browsers/other";

}